@model IEnumerable<Core_Service_MiddleWare.Models.Student>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Helle From Index2.cshtml</title>
</head>
<body>

    @await Component.InvokeAsync("Welcome",124)

    @{
        <h1>test</h1>
    }
    @section bottom{
        @{
            <h1>111</h1>
        }
    }
</body>
</html>
