@using Microsoft.AspNetCore.Identity
<!DOCTYPE html>
@inject SignInManager<IdentityUser> _signIn

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script>
        function Logout() {
            $.ajax({
                url:"@Url.Action("Logout","Accout")",
                dataType: "json",
                type: "POST",
                success: function () {},
                error: function () { }
            });
        }
    </script>
</head>
<body>
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">MyStudyDemo</a>
            </div>
            <div>
                <ul class="nav navbar-nav">
                    @if (_signIn.IsSignedIn(User))
                    {
                        <li><a href="javascript:Logout();" >登出</a></li>
                    }
                    else
                    {
                        <li><a asp-action="Login" asp-controller="Accout">登录</a></li>
                        <li><a asp-action="Register" asp-controller="Accout">注册</a></li>
                    }
                </ul>
            </div>
        </div>
    </nav>
    <div>
        @RenderBody()
    </div>
    <div>
        @RenderSection("bottom", false)
    </div>

    
</body>
</html>
